---
import { render } from "astro:content"
import { langs } from "~/i18n/ui"
import { getLangFromUrl } from "~/i18n/utils"
import MainLayout from "~/layouts/main.astro"
import "~/styles/post.css"
import "~/styles/post.scss"
import { formatDate, getPostsByLocale } from "~/utils"

export async function getStaticPaths() {
  const allPaths = []

  for (const lang of langs) {
    const posts = await getPostsByLocale(lang)
    const paths = posts.map((post: any) => ({
      params: { lang, slug: post.id },
      props: { post },
    }))
    allPaths.push(...paths)
  }

  return allPaths
}

const lang = getLangFromUrl(Astro.url)

const { post } = Astro.props

const { Content } = await render(post)
---

<MainLayout {...post.data}>
  <article class="prose dark:prose-invert w-full max-w-3xl overflow-hidden">
    <div class="flex flex-col gap-2">
      <h2 class="!my-0 text-3xl font-semibold">{post.data.title}</h2>
      <div class="my-3 text-gray-500 dark:text-white/80">
        {formatDate(post.data.pubDate)}
      </div>
    </div>

    <div class="my-6">
      <Content />
      <div class="mt-10 border-t border-gray-200 pt-6 dark:border-gray-700">
        <div class="flex flex-wrap gap-6 text-sm text-gray-400">
          {
            post.data.tags.map((tag: string) => (
              <a
                href={`/${lang}/tags/${tag}`}
                class="transform text-gray-400 no-underline transition duration-200 ease-in-out hover:scale-105 hover:text-gray-500 dark:hover:text-gray-300"
              >
                #{tag}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </article>
</MainLayout>
